* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #838686;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em;
    max-width: 800px;
    max-height: 50%;
    background-color: #d4ecec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    font-size: 24px;
}


